################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2010100009/.vs/2010100009/v15
/2010100009-web/.vs/2010100009-web/v15
